<div  *ngIf="typeIsEqual(field.type, dataTableType.STRING)">
  <ngx-field-custom-input
    [configForm]="configForm"
    [controlName]="field.model"
    [isSubmittedForm]="isSubmittedForm"
    [mask]="field.mask"
    [placeholder]="field.placeHolder">
  </ngx-field-custom-input>
</div>

<div *ngIf="typeIsEqual(field.type, dataTableType.PASSWORD)">
  <ngx-field-password-hide
    [configForm]="configForm"
    [controlName]="field.model"
    [isSubmittedForm]="isSubmittedForm"
    [placeholder]="field.placeHolder"
  ></ngx-field-password-hide>
</div>


<div  *ngIf="typeIsEqual(field.type, dataTableType.LIST)">
  <ngx-field-custom-list-basic
    [configForm]="configForm"
    [controlName]="field.model"
    [isSubmittedForm]="isSubmittedForm"
    [placeholder]="field.placeHolder"
    [options]="field.listValue">
  </ngx-field-custom-list-basic>
</div>

<ngx-field-custom-error
  [configForm]="configForm"
  [controlName]="field.model"
  [isSubmittedForm]="isSubmittedForm"
>
</ngx-field-custom-error>
