<div  *ngIf="typeIsEqual(field.type, dataTableType.STRING)">
  <ngx-field-custom-input
    [configForm]="configForm"
    [controlName]="field.model"
    [isSubmittedForm]="isSubmittedForm"
    [mask]="field.mask"
    [placeholder]="field.placeHolder">
  </ngx-field-custom-input>
</div>

<div *ngIf="typeIsEqual(field.type, dataTableType.PASSWORD)">
  <ngx-field-password-hide
    [configForm]="configForm"
    [controlName]="field.model"
    [isSubmittedForm]="isSubmittedForm"
    [placeholder]="field.placeHolder"
  ></ngx-field-password-hide>
</div>
