<div class="form-group">
  <div  class="form-with-icon link right">
    <input type="password" [(ngModel)]="myModel" class="form-control form-control-lg" id="PasswordHide" placeholder="{{placeholder | translate}}">
    <span (click)="openLg(changePsw)" class="link-change">{{'CHANGE' | translate}}</span>
  </div>
</div>


<!-- Modal -->
<ng-template #changePsw let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{'EDIT_PASSWORD' | translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <form [formGroup]="formPasswordChange"  novalidate>
        <div class="row">
          <div class="col-12">
            <app-password-hide
              [configForm]="formPasswordChange"
              [controlName]="'password'"
              [placeholder]="'NEW_PASSWORD'"
            ></app-password-hide>
          </div>
          <div class="col-12">
            <app-password-hide
              [configForm]="formPasswordChange"
              [controlName]="'confirmPassword'"
              [placeholder]="'CONFIRM_PASSWORD'"
            ></app-password-hide>
          </div>
        </div>

      </form>
  </div>
  <div class="modal-footer">
    <span class="button-app-cancel button-xs-weight" (click)="d()">{{'CANCEL' | translate}}</span>
    <span class="button-app-alternative button-xs-weight" (click)="changePassword(formPasswordChange.value, formPasswordChange.valid)">{{'SAVE' | translate}}</span>
  </div>
</ng-template>
