
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Ngx field package</h1>
      <br>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <form  *ngIf="form" [formGroup]="form" >
        <div class="col-12" *ngFor="let field of fields">
          <div *ngIf="field.model" >
            <ngx-field-group
              [field]="field"
              [configForm]="form"
              [controlName]="field.model"
              [mask]="field.mask"
              [placeholder]="field.placeHolder"
              [options]="field.listValue"
            >
            </ngx-field-group>
          </div>
          <div class="d-flex flex-row" *ngIf="field.type ==='GROUP'">
            <div class="{{dynamicFormService.buildGridClass(groupField.position)}}" *ngFor="let groupField of field.group">
              <ngx-field-group
                [field]="groupField"
                [configForm]="form"
                [controlName]="groupField.model"
                [mask]="groupField.mask"
                [placeholder]="groupField.placeHolder"
                [options]="groupField.listValue"
                [position]="groupField.position"
              >
              </ngx-field-group>
            </div>
          </div>
        </div>
        <div class="text-center">
          <span class="button-app-alternative button-lg inline-button center">Ingresar</span>
        </div>
      </form>
    </div>
  </div>
</div>



