<div  *ngIf="typeIsEqual(field.type, dataTableType.STRING)">
  <app-custom-input
    [configForm]="configForm"
    [controlName]="field.model"
    [isSubmittedForm]="isSubmittedForm"
    [mask]="field.mask"
    [placeholder]="field.placeHolder">
  </app-custom-input>
</div>
<div  *ngIf="typeIsEqual(field.type, dataTableType.LIST)">
  <app-custom-list
    [configForm]="configForm"
    [controlName]="field.model"
    [isSubmittedForm]="isSubmittedForm"
    [placeholder]="field.placeHolder"
    [options]="field.listValue">
  </app-custom-list>
</div>
<div *ngIf="typeIsEqual(field.type, dataTableType.PHONE)">
  <app-custom-phone
    [configForm]="configForm"
    [controlName]="field.model"
    [isSubmittedForm]="isSubmittedForm"
    [placeholder]="field.placeHolder"
  >
  </app-custom-phone>
</div>

<!--<div *ngIf="typeIsEqual(field.type, dataTableType.CALLING_CODE)">-->
  <!--<app-calling-code-->
    <!--[configForm]="configForm"-->
    <!--[controlName]="field.model"-->
  <!--&gt;</app-calling-code>-->
<!--</div>-->

<!--<div *ngIf="typeIsEqual(field.type, dataTableType.COUNTRY)">-->
  <!--<app-country-select-->
    <!--[configForm]="configForm"-->
    <!--[controlName]="field.model"-->
  <!--&gt;</app-country-select>-->
<!--</div>-->

<div *ngIf="typeIsEqual(field.type, dataTableType.PASSWORD)">
  <app-password-hide
    [configForm]="configForm"
    [controlName]="field.model"
    [isSubmittedForm]="isSubmittedForm"
    [placeholder]="field.placeHolder"
  ></app-password-hide>
</div>

<div *ngIf="typeIsEqual(field.type, dataTableType.CHANGE_PASSWORD)">
  <app-password-change
    [placeholder]="field.placeHolder"
  ></app-password-change>
</div>


<div *ngIf="typeIsEqual(field.type, dataTableType.RADIO)">
    <app-custom-radio
      [configForm]="configForm"
      [controlName]="field.model"
      [dataRadioList]="field.listValue"
    ></app-custom-radio>
</div>

<app-custom-error
  [configForm]="configForm"
  [controlName]="field.model"
  [isSubmittedForm]="isSubmittedForm"
>
</app-custom-error>
