<div class="form-group float-label" [formGroup]="configForm">
  <label (click)="focusLabel()" class="form-control-placeholder" [ngClass]="{'focus': focusValue, 'focus-out': !focusValue}">{{placeholder | translate}}</label>
  <input
    [formControlName]="controlName"
    #fileInput
    (focus)="focus()"
    (focusout)="focusOut()"
    [mask]="mask"
    type="text"
    class="form-control form-control-lg"
    [ngClass]="{
    'invalid-form ': dynamicFormService.validForm(configForm, controlName, isSubmittedForm),
    'uppercase-input': placeholder === 'AUTHENTICATE.REGISTER.PAYMENT_CODE'
    }"
    [id]="controlName"
  >
</div>
