<div class="form-group float-label" [formGroup]="configForm">
  <div *ngIf="!showPassword" class="form-with-icon link right">
    <label (click)="focusLabel()" class="form-control-placeholder" [ngClass]="{'focus': focusValue, 'focus-out': !focusValue}">{{placeholder | translate}}</label>
    <input
      #fileInput
      (focus)="focus()"
      (focusout)="focusOut()"
      [formControlName]="controlName"
      type="password"
      class="form-control form-control-lg"
      id="PasswordHide"
      [ngClass]="{'invalid-form ': dynamicFormService.validForm(configForm, controlName, isSubmittedForm)}"
    >
    <i  (click)="toggleShowPassword()" class="material-icons">
      visibility
    </i>
  </div>
  <div *ngIf="showPassword" class="form-with-icon link right">
    <label (click)="focusLabel()" class="form-control-placeholder" [ngClass]="{'focus': focusValue, 'focus-out': !focusValue}">{{placeholder | translate}}</label>
    <input
      #fileInput
      (focus)="focus()"
      (focusout)="focusOut()"
      [formControlName]="controlName"
      type="text"
      class="form-control form-control-lg"
      id="Password"
      [ngClass]="{'invalid-form ': dynamicFormService.validForm(configForm, controlName, isSubmittedForm)}"
    >
    <i class="material-icons" (click)="toggleShowPassword()">
      visibility_off
    </i>
  </div>
</div>
