<div class="form-group" [formGroup]="configForm">
  <div *ngIf="!showPassword" class="form-with-icon link right">
    <input
      [formControlName]="controlName"
      type="password"
      class="form-control form-control-lg"
      id="PasswordHide"
      [ngClass]="{'invalid-form ': dynamicFormService.validForm(configForm, controlName, isSubmittedForm)}"
      placeholder="{{placeholder | translate}}"
    >
    <i class="iconapp-hidde" (click)="toggleShowPassword()"></i>
  </div>
  <div *ngIf="showPassword" class="form-with-icon link right">
    <input
      [formControlName]="controlName"
      type="text"
      class="form-control form-control-lg"
      id="Password"
      placeholder="{{placeholder | translate}}"
      [ngClass]="{'invalid-form ': dynamicFormService.validForm(configForm, controlName, isSubmittedForm)}"
    >
    <i class="iconapp-show" (click)="toggleShowPassword()"></i>
  </div>
</div>
